@media (min-width: 1200px) {
	.container {
	    max-width: 970px;
	}
}
@media (min-width:400px){
	.global-search {
		padding: 20px;
		text-align:center;
	}

	body {
		background-color:#191414;	
		padding-bottom: 15px;
	}

	.global-search {
		text-align:center;
		padding:10px;
	}
	.global-search .autocomplete {
		width: 400px;
	}

}

.btn{
	background-color: #1DB954;
	border: none
}

.step-links a{
	color: #4285F4;
}

* {
	color: #1DB954;
	font-family: "Helvetica Neue", Arial, serif;
}

.container {
	padding: 15px;
}


h1 {
	font-size: 55px;
	margin-bottom: 40px;
}

.input {
	margin: 15px auto;
}

#search-bars {
	width: 400px;
	float: left;
	display: inline-block;
}

.panel-body {
	text-align: center;
	background-color: #ffffff;
}

div.assets {
	margin: 0 auto;
}

image, audio {
	margin: 0 auto;
}

audio {
	width: 256px;
}

label {
	margin-right: 5px;
}

.split-div {
	display: flex;
	justify-content: space-around;
}