@media (min-width: 1200px) {
	.container {
	    max-width: 970px;
	}
}
@media (min-width:400px){
	.global-search {
		padding: 20px;
		text-align:center;
	}

	body {
		background-color:#191414;	
		padding-bottom: 15px;
	}

	.global-search {
		text-align:center;
		padding:10px;
	}
	.global-search .autocomplete {
		width: 400px;
	}

	/*.global-search * {
		display:inline-block;
		margin-bottom:0;
	}*/
}



.btn{
	background-color: #1DB954;
	border: none
}

.step-links a{
	color: #4285F4;
}

.ui-widget { 
	font-family:Futura,serif;
}

* {
	color: #1DB954;
}

.container {
	padding: 15px;
}

#query {
	color: #1DB954;
}

h1 {
	font-size: 55px; 
	font-family:Futura,serif; 
	color: #1DB954;
	margin-bottom: 40px;
}

.input {
	margin: 15px auto;
}

/*.clear {
	clear: both;
}*/

#search-bars {
	width: 400px;
	float: left;
	display: inline-block;
}

.panel-body {
	text-align: center;
	background-color: #ddd; 
}

.score {
	color: #191414;;
}

div.assets {
	margin: 0 auto;
}

image, audio {
	margin: 0 auto;
}

audio {
	width: 256px;
}

label {
	margin-right: 5px;
}