<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static "smart_playlist/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "smart_playlist/main.css" %}">
        <script type="text/javascript" src="http://tracking.musixmatch.com/t1.0/AMa6hJCIEzn1v8RuOP"></script>
    </head>
    
    <body>
        <div class="topcorner">
            <p>Smart Playlist</p>
            <p></p>
        </div>
        
        <form class="form-inline global-search" method='GET'>
            <h1 style="font-size: 55px; font-family:Futura,serif">
                Smart Playlist Generator
            </h1>
            
            <br><br>
            
            <div class="form-group">
                <input id="input" type="text" name="song" class="form-control" placeholder="Song Name">
                <input id="input" type="text" name="artist" class="form-control" placeholder="Artist Name">
            </div>
            <button type="submit" class="btn btn-info"> Go! </button>
        </form>
        
        <div class="form-inline global-search">
            <h4>Output</h4><br>
            {% for line in output %}
                {{line}}<br>
            {% endfor %}
            
            <div class="pagination">
                <span class="step-links">
                    {% if output.has_previous %}
                    <a href= "{{magic_url}}&page={{ output.previous_page_number }}">previous</a>
                    {% endif %}
                    
                    <!-- Showing the page numbers in Html Page -->
                    <span class="current">
                    Page {{ output.number }} of {{ output.paginator.num_pages }}
                    </span>
                    
                    {% if output.has_next %}
                    <a href= "{{magic_url}}&page={{ output.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </body>
</html>