<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'smart_playlist/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'smart_playlist/main.css' %}">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link href="https://code.jquery.com/ui/1.12.1/themes/black-tie/jquery-ui.css" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="http://tracking.musixmatch.com/t1.0/AMa6hJCIEzn1v8RuOP"></script>
        <title>
            {% if query %}
                {{ query.0 }}
            {% else %}
                Smart Playlist
            {% endif %}
        </title>
    </head>
    
    <body>
        <form action='' class="form-inline global-search" method='GET'>
            <h1>Smart Playlist Generator</h1>

            <div class="form-group ">
                <input id="song" type="text" name="song" class="form-control ui-autocomplete-input autocomplete"
                       {% if query %}value="{{ query.0 }}"{% endif %} placeholder="Song Name" autocomplete="off">
                <input id="artist" type="text" name="artist" class="form-control autocomplete"
                       {% if query %}value="{{ query.1 }}"{% endif %} placeholder="Artist Name" autocomplete="off">

                <div class="input">
                    <label for="v1">Version 1</label><input type="radio" id="v1" name="version" value=1 class="form-control ui-widget">
                    <label for="v2">Version 2</label><input type="radio" id="v2" name="version" value=2 class="form-control ui-widget">
                    <label for="v3">Version 3</label><input type="radio" id="v3" name="version" value=3 checked class="form-control ui-widget">
                </div>

                <div class="input">
                    {% if request.GET.alpha %}
                        <label for="alpha_s">Lyrics</label>
                        <input name="alpha" id="alpha_s" type="range" min="0" max="200" value="{{ request.GET.alpha }}"
                               class="form-control"
                               onchange="showValue('alpha', this.value)"/>
                        <span id="alpha">{{ request.GET.alpha }}</span><br/>

                        <label for="beta_s">Audio Features</label>
                        <input name="beta" id="beta_s" type="range" min="0" max="200" value="{{ request.GET.beta }}"
                               class="form-control"
                               onchange="showValue('beta', this.value)"/>
                        <span id="beta">{{ request.GET.beta }}</span><br/>

                        <label for="gamma_s">Playlist Similarity</label>
                        <input name="gamma" id="gamma_s" type="range" min="0" max="200" value="{{ request.GET.gamma }}"
                               class="form-control"
                               onchange="showValue('gamma', this.value)"/>
                        <span id="gamma">{{ request.GET.gamma }}</span><br/>
                    {% else %}
                        <label for="alpha_s">Lyrics</label>
                        <input name="alpha" id="alpha_s" type="range" min="0" max="200" value="100" class="form-control"
                               onchange="showValue('alpha', this.value)"/>
                        <span id="alpha">100</span><br/>

                        <label for="beta_s">Audio Features</label>
                        <input name="beta" id="beta_s" type="range" min="0" max="200" value="100" class="form-control"
                               onchange="showValue('beta', this.value)"/>
                        <span id="beta">100</span><br/>

                        <label for="gamma_s">Playlist Similarity</label>
                        <input name="gamma" id="gamma_s" type="range" min="0" max="200" value="100" class="form-control"
                               onchange="showValue('gamma', this.value)"/>
                        <span id="gamma">100</span><br/>
                    {% endif %}
                </div>
            </div>

            <!-- https://simpleisbetterthancomplex.com/tutorial/2016/08/29/how-to-work-with-ajax-request-with-django.html -->
            <!-- http://jqueryui.com/autocomplete/#remote-jsonp -->
            <br>
            <button type="submit" class="btn btn-info"> Go! </button>
        </form>
        
        {% if songs %}

        <div class="container">
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse0"><span id="query">You searched for: </span>{{ query_song.name }}</a>
                </h4>
              </div>
              <div id="collapse0" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="assets">
                        <image src="{{ query_song.artwork }}" width="256" height="256"/><br>
                        <audio class="js-music music-player-item" src="{{ query_song.preview }}" controls></audio>
                    </div>
                    <br>
                    <h5>Song Characteristics</h5>
                    <div>
                        {% for feature in query_features.af %}
                            {{ feature.0 }}: {{ feature.1|floatformat:3 }}<br>
                        {% endfor %}
                    </div>
                    <h5>Song Audio Features</h5>
                    <div>
                        {% for feature in query_features.sf %}
                            {{ feature.0 }}: {{ feature.1|floatformat:3 }}<br>
                        {% endfor %}
                    </div>
                </div>
              </div>
            </div>

            {% for song in songs %}
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}">{{ song.song }}</a>
                </h4>
              </div>
              <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="assets">
                        <image src="{{ song.artwork }}" width="256" height="256"/><br>
                        <audio class="js-music music-player-item" src="{{ song.preview }}" controls></audio>
                    </div>
                    <div class="split-div">
                        <div>
                            <h3>Similar Lyrics (by TF-IDF)</h3>
                            <div>
                                {% for lyric in song.features.lyrics %}
                                    {{ lyric.0 }}: {{ lyric.1 }} and {{ lyric.2 }}<br>
                                {% endfor %}
                            </div>

                            <h4>Lyrics Score: {{ song.lyric }}</h4>
                        </div>
                        <div>
                            <h3>Similar Characteristics</h3>
                            <div>
                                {% for feature in song.features.af %}
                                    {{ feature.0 }}: {{ feature.1|floatformat:3 }} vs. {{ feature.2|floatformat:3 }}<br>
                                {% endfor %}
                            </div>

                            <h3>Similar Features</h3>
                            <div>
                                {% for feature in song.features.sf %}
                                    {{ feature.0 }}: {{ feature.1|floatformat:3 }} vs. {{ feature.2|floatformat:3 }}<br>
                                {% endfor %}
                            </div>

                            <h4>Cluster Score: {{ song.cluster }}</h4>
                        </div>
                    </div>

                    <h3>Playlist Similarity</h3>
                    <h5>Number of Shared Playlists: {{ song.features.pc }}</h5>
                    <h4>Playlist Score: {{ song.playlist }}</h4>
                    <h2>Total Score: {{ song.total|floatformat:5 }}</h2>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
        </div>

        {% endif %}

        <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
        </script>
        <script
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous">    
        </script>
        <script type="text/javascript" src="{% static 'smart_playlist/main.js' %}"></script>
    </body>
</html>