<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'smart_playlist/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'smart_playlist/main.css' %}">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

        <!-- <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
         rel = "stylesheet"> -->
        <link href="https://code.jquery.com/ui/1.12.1/themes/black-tie/jquery-ui.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="http://tracking.musixmatch.com/t1.0/AMa6hJCIEzn1v8RuOP"></script>
        <title>
            {% if query %}
                {{ query.0 }}
            {% else %}
                Smart Playlist
            {% endif %}
        </title>
    </head>
    
    <body>
        <form action='' class="form-inline global-search" method='GET'>
            <h1 style="font-size: 55px; font-family:Futura,serif; color: #1DB954">
                Smart Playlist Generator
            </h1>
            
            <br><br>

            <div class="form-group ui-widget">
                <input id="song" type="text" name="song" class="form-control ui-autocomplete-input"
                       {% if query %}value="{{ query.0 }}"{% endif %} placeholder="Song Name" autocomplete="off">
                <input id="artist" type="text" name="artist" class="form-control ui-widget"
                       {% if query %}value="{{ query.1 }}"{% endif %} placeholder="Artist Name">
                <br>
                <label for="v1">Version 1</label><input id="v1" type="radio" name="version" value=1 class="form-control ui-widget">
                <label for="v2">Version 2</label><input id="v2" type="radio" name="version" value=2 class="form-control ui-widget">
                <label for="v3">Version 3</label><input id="v3" type="radio" name="version" value=3 checked class="form-control ui-widget">
                <br>
                <label>
                    Lyrics
                    <input name="alpha" id="input" type="range" min="0" max="200" value="100" class="form-control"
                           onchange="showValue('lyric_weight', this.value)"/>
                </label>
                <span id="lyric_weight">100</span>
                <br>
                <label>
                    Audio Features
                    <input name="beta" id="input" type="range" min="0" max="200" value="100" class="form-control"
                           onchange="showValue('audio_weight', this.value)"/>
                </label>
                <span id="audio_weight">100</span>
                <br>
                <label>
                    Playlist Similarity
                    <input name="gamma" id="input" type="range" min="0" max="200" value="100" class="form-control"
                           onchange="showValue('playlist_weight', this.value)"/>
                </label>
                <span id="playlist_weight">100</span>

                <script type="text/javascript">
                    function showValue(id, newValue) {
                        document.getElementById(id).innerHTML = String(newValue)
                    }
                </script>
            </div>
            <br>

            <!-- https://simpleisbetterthancomplex.com/tutorial/2016/08/29/how-to-work-with-ajax-request-with-django.html -->
            <!-- http://jqueryui.com/autocomplete/#remote-jsonp -->
            
            <button type="submit" class="btn btn-info"> Go! </button>
        </form>
        
        {% if songs %}
        <div class="container">
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse0">{{ query_song }}</a>
                </h4>
              </div>
              <div id="collapse0" class="panel-collapse collapse in">
                <div class="panel-body">
                                        <br>
                    <h4>Song Characteristics</h4>
                    <br>
                    {% for feature in query_features.af %}
                        <p>{{ feature.0 }}: {{ feature.1|floatformat:3 }}</p>
                        <br>
                    {% endfor %}
                    <br>
                    <h4>Song Audio Features</h4>
                    <br>
                    {% for feature in query_features.sf %}
                        <p>{{ feature.0 }}: {{ feature.1|floatformat:3 }}</p>
                        <br>
                    {% endfor %}
                </div>
              </div>
            </div>
              {% for song in songs %}
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}">{{ song.song }}</a>
                </h4>
              </div>
              <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse">
                <div class="panel-body">
                    <image src="{{ song.artwork }}" />
                    <audio class="js-music music-player-item" src="{{ song.preview }}" controls></audio>
                    <h4>Similar Lyrics (by TF-IDF)</h4>
                    <br>
                    {% for lyric in song.features.lyrics %}
                        <p>{{ lyric.0 }}: {{ lyric.1 }} and {{ lyric.2 }}</p>
                        <br>
                    {% endfor %}
                    <h5>Lyrics Score: {{ song.lyric }}</h5>

                    <br>
                    <h4>Similar Characteristics</h4>
                    <br>
                    {% for feature in song.features.af %}
                        <p>{{ feature.0 }}: {{ feature.1|floatformat:3}} vs. {{ feature.2|floatformat:3 }}</p>
                        <br>
                    {% endfor %}
                    <h4>Similar Features</h4>
                    {% for feature in song.features.sf %}
                        <p>{{ feature.0 }}: {{ feature.1|floatformat:3}} vs. {{ feature.2|floatformat:3 }}</p>
                        <br>
                    {% endfor %}
                    <h5>Cluster Score: {{ song.cluster }}</h5>
                    <br>
                    <h4>Number of Shared Playlists: {{ song.features.pc }}</h4>
                    <h5>Playlist Score: {{ song.playlist }}</h5>
                    <br>
                    <h3>Total Score: {{ song.total|floatformat:5 }}</h3>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>

        {% endif %}

        <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
        </script>
        <script
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous">    
        </script>
        <script type="text/javascript" src="{% static 'smart_playlist/main.js' %}"></script>
    </body>
</html>